<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - Platform of Gaming in Cloud</title>
    <link rel="stylesheet" href="~/css/reset.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/hamburguer.css"/>
    <link rel="stylesheet" href="~/css/pages/home.css"/>
    <link rel="stylesheet" href="~/css/pages/privacy.css"/>
    <link rel="stylesheet" href="~/css/pages/listargames.css"/>
    <link rel="stylesheet" href="~/css/pages/formularios.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"/>
</head>
<body>
    <header>
        <nav class="menu-nav">
            <div class="menu-nav-content">
                <a class="menu-logo" asp-area="" asp-controller="Home" asp-action="Index">Gaming Cloud</a>
                <a class="menu-hamburguer" onclick="toggleMenu()"><img src="~/img/ico-hamburguer.svg" alt="Ícone de Visualizar Menu"></a>
                <div class="menu-items-content">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="menu-items-link">Inicio</a>

                    <div class="dropdown">
                        <a class="menu-items-link">Game<span class="dropdown-icon"></span></a>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="Game" asp-action="Cadastrar" class="menu-items-link"><img src="~/img/ico-cadastrar.svg" alt="Ícone de Cadastrar" class="icon-item-dropdown">Cadastrar</a>
                            <div class="dropdown-content-divisor"></div>
                            <a asp-area="" asp-controller="Game" asp-action="Index" class="menu-items-link"><img src="~/img/ico-listar.svg" alt="Ícone de Listar" class="icon-item-dropdown">Listar</a>
                        </div>
                    </div>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="menu-items-link">Privacidade</a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="main-content">
        @RenderBody()
    </main>

    <footer class="footer-content">
        <div class="footer-container">
            <p>Technos &  &copy; 2024 - <a asp-area="" asp-controller="Home" asp-action="Index">Gaming Cloud</a> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/hamburguer.js" asp-append-version="true"></script>
    <script src="~/js/confirm-page.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
