@{
    ViewData["Title"] = "Políticas de Privacidade";
}

<section class="section-privacy-policy">
    <h1>@ViewData["Title"]</h1>

    <p class="section-privacy-paragraph">Todos os dados são armazenados de acordo com a Lei Geral de Proteção de Dados (LGPD).</p>
</section>
