html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;

}

body {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 64vh;
    font-family: Inter;
    background: url("../img/games/spider-man2.png") 50% center no-repeat fixed transparent;
}

/* Componentes Gerais */

h1, h2 {
    font-size: calc(1.375rem + 1.5vw);
    color: #ffffff;
}

p, a {
    text-decoration: none;
    color: #cdcdcd;
    transition: all 0.4s;
}

a {
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: #FFFFFF;
}

/* HEADER */

.show-menu {
    display: none;
}

.show-menu:hover {
    display: block;
}

header {
    position: relative;
    z-index: 999;
    backdrop-filter: blur(10px);
}

.main-content {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    padding: 10vh 0 10vh 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-content {
    background: #5C0A6D;
    backdrop-filter: blur(10px);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #e5e5e5;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}