/* Estilos para o formulário de cadastro de jogos */
.section-cadastrar-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.slogan-cadastrar {
    color: #A822C3;
}

.form-content-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    gap: 20px;
}

.form-box-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label-game {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #FFFFFF;
}

.form-items-game, .form-select-game, .form-option-game {
    width: 100%;
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 4px solid #36303000;
    color: #cdcdcd;
}

.form-items-game:focus, .form-select-game:focus {
    outline: none;
    border: 4px solid #9c15b8;
}

.form-content-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-cadastrar, .button-listar {
    border: 0;
    width: 20vw;
    display: inline-block;
    padding: 10px 20px;
    font-family: Inter;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #9c15b8;
    border-radius: 50px;
    color: #fff;
    transition: all 0.6s;
}

.form-content-game .button-cadastrar:hover, .button-listar:hover {
    background-color: #333;
}
