/* Estilos para o formulário de cadastro de jogos */
.section-cadastrar-game {
    margin: 20px;
}

.section-cadastrar-game form {
    margin-top: 20px;
}

.section-cadastrar-game form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.section-cadastrar-game form .button-cadastrar, .button-listar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.section-cadastrar-game form .button-cadastrar:hover, .button-listar:hover {
    background-color: #333;
}
