/* PÁGINA HOME */

.section-game-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* CONTENT - HOME */
.slogan-home {
    color: #A822C3;
}

.content-button-home {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.button-link {
    padding: 20px 20px;
    background-color: #A822C3;
    border-radius: 50px
}

.icon-button {
    width: 60px;
}

.button-link, .icon-button {
    transition: all 0.6s !important;
}

.button-link:hover {
    background-color: #5C0A6D;
}

.icon-button:hover {
    transform: scale(1.2);
}

/* RESPONSIVO - MOBILE */
@media (max-width: 768px){
    .section-badge-home {
        flex-direction: column;
        gap: 50px;
    }

    .button-link{
        padding: 20px 40px;
    }
}