@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Platform of Gaming in Cloud</h1>
    
    <div class="container-games">
        <a asp-controller="game" asp-action="cadastrar">Cadastro de Jogos</a>
    </div>
</div>
