@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Platform of Gaming in Cloud</h1>
    <a asp-controller="Game" asp-action="Cadastrar">Cadastro de Games</a>
</div>
