@model Game

@{
    ViewData["Title"] = "Cadastro de Jogos";
}

<section class="section-cadastrar-game">
    <h1>Cadastro de Jogos</h1>

    <form asp-action="cadastrar" class="form-content-game">
        <!--Adicionar o conteúdo do arquivo _Form.cshtml-->
        <partial name="_Form" />
        <a class="button-cadastrar">Cadastrar Jogos</button>
        <a asp-action="index" class="button-listar">Lista de Games</a>
    </form>
</section>