@model Game

@{
    ViewData["Title"] = "Cadastro de Jogos";
}

<section class="section-cadastrar-game">
    <h1>Cadastro de Jogos</h1>

    <form asp-action="cadastrar">
        <!--Adicionar o conteúdo do arquivo _Form.cshtml-->
        <partial name="_Form" />
        <button type="submit" class="button-cadastrar">Cadastrar</button>
        <a asp-action="index" class="button-listar">Lista de Games</a>
    </form>
</section>