@model Game
@{
	ViewData["Title"] = "Edição de Game";
}

<section class="section-editar-game">
    <h1>Edição de <span class="slogan-home">Jogos</span></h1>

    <form asp-action="editar" class="form-editar-game">
        <partial name="_Form" />

        <mensagem texto="@TempData["msg"]"></mensagem>

        <button type="submit" asp-action="index" class="button-editar">Editar</button>
        <a asp-action="index" class="button-cancelar">Cancelar</a>
    </form>
</section>