@model Game
@{
	ViewData["Title"] = "Edição de Game";
}

<section class="section-editar-game">
    <h1>Edição de <span class="slogan-home">Jogos</span></h1>

    <form asp-action="editar" class="form-content-game">
        <partial name="_Form" />

        <mensagem texto="@TempData["msg"]"></mensagem>

        <div class="form-content-button">
            <button type="submit" class="button-input">Editar</button>
            <a asp-action="index" class="button-input">Cancelar</a>
        </div>
    </form>
</section>